@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    background: #c3c3c3;
    font-family: "Space Grotesk";
    overflow:hidden;
}

.page {
    display: flex;
    flex-direction: row;
}

.container {
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    text-transform: uppercase;
}

.header-logo img{
    font-size: 2em;
    width: 200px;
}

.header li {
    list-style: none;
    text-decoration: inherit;
}

.header a {
    text-decoration: none;
    color:#000;
}

.header a:hover {
    color:yellowgreen;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.header-hamburger {
    padding: 1em;
}

.header-hamburger span {
    display: block;
    height: 2px;
    width: 60px;
    background: #000;
}

.header-hamburger span:nth-child(2) {
    margin-top: 0.5em;
}

.body {
    font-size: 2em;
    font-weight: 500;
    margin: 1em 0em;
    color: #000;
    text-decoration: none;
}

#button:disabled,
button[disabled] {
    background-color: yellowgreen;
    border-radius: 10px;
}

#button:disabled a,
button[disabled] a {
    color: #717171;
}

.desc {
    margin-top: 0;
    font-size: 1.5em;
    line-height: 3em;
}

.desc-about {
    padding: 2em 10em;
    margin-top: 0;
    font-size: 1.5em;
    line-height: 2em;
}


.underline {
    font-weight: 500;
    border-bottom: 2px solid #000;
}

.warning {
    color: greenyellow;
    font-weight: bolder;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    line-height: 3em;
}

.stop {
    color: red;
    font-weight: bolder;
    font-size: 1.2em;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    line-height: 3em;
}

.pass-phrase {
    line-height: 1em;
}

.data-fields {
    padding: 2em 0em;    
    display: block;
    opacity: 0;
    width: 0;
}

.field {
    margin: 0.5em 0.3em 0.5em;
    height: 2em;
    border-radius: 5px;
    border: 2px solid black;
}

.fields {
    border-top: 2px solid black;
    margin-top: 0em;
    padding-top: 1em;
}

.wallet-connect {
    opacity: 0;
    padding: 1em 3em;
    margin: 1em 3em;
    border: 2px solid grey;
    background-color: lightgrey;
    border-radius: 3vh;
}

.connect-button {
    margin: auto
}

.connect-button button {
    padding: 0.2em;
    border: 2px solid grey;
    border-radius: 1vh;
}

.go {
    opacity: 0;
    display: block;
    font-size: 2em;
    color: yellowgreen;
    border-radius: 5px;
    padding: 0em .5em;
    margin-left: 0;
    margin-right: auto;
    margin-top: 1vh;
    border: 2px solid black;
}

.go a {
    text-decoration: none;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main-title {
    padding: 0 0.2em;
    font-size: 8em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    letter-spacing: -4px;
}

.main-title img {
    position: relative;
    top: 0.2em;
    width: 140px;
}

.divider {
    width: 100%;
    height: 8px;
    background: #000;
    margin: 0.5em 0;
}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("./images/cover3.png") no-repeat 50% 50%;
    background-size: cover;
}

.hero-title {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bolder;
    color: greenyellow;
}

.arrow-img img {
    position: relative;
    width: 150px;
    top: -5em;
}

.hero-copy {
    display: flex;
    margin-top: 4em;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em;
}

.copy-left {
    color: greenyellow;
    text-transform: uppercase;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.btns {
    display: flex;
}

.btn {
    margin: 0 0.8em 1em 0;
    padding: 0.3em 0.6em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}

.copy-right {
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

div.gallery {
    margin: 5px;
    border: 1px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    width: 15%;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.description {
    padding: 1em;
    text-align: center;
}

@media(max-width: 900px) {
    .wallet-connect {
        opacity: 0;
        padding: 0;
        margin: 0;
        border: 2px solid grey;
        background-color: lightgrey;
        border-radius: 3vh;
    }

    .page {
        flex-direction: column-reverse;
        padding: 0 0.5em ;
    }

    .body {
        margin: 0;
        font-size: 2em;
        font-weight: 500;
        padding: 0em;
        color: #000;
        text-decoration: none;
    }
    
    .header-menu-1, .header-menu-2 {
        display: none;
    }

    .main-title {
        font-size: 4em;
    }

    .hero-title img {
        scale: 50%;
        margin-bottom: -80%;
    }

    .hero-copy {
        flex-direction: column;
        margin-top: 10em;
    }

    .btns {
        display: none;
    }

    .copy-right {
        text-align: left;
    }

    .data-fields {
        padding:  2em;
    }

    .field {
        width: 20%;
        margin: 0.5em 0.3em 0.5em;
        height: fit-content;
        box-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;  
    }

    .desc {
        font-size: 0.8em;
        line-height: 1.1em;
    }

    .desc-about {
        padding: 2em 0.1em;
        margin-top: 0;
        font-size: 0.9em;
        line-height: 2em;
    }

    #button:disabled {
        background-color: yellowgreen;
        border-radius: 9px;
    }

    #button:disabled a {
        color: #717171;
    }

    .pass-phrase {
        font-size: 0.8em;
        line-height: 1.1em;
    }

    .warning, .stop {
        padding-top: 1em;
        font-size: 1em;
        line-height: 1em;
    }

    .stop {
        text-align: center;
        padding: 0 0 1em;
        line-height: 1em;
    }
}